{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css" integrity="sha512-yDUXOUWwbHH4ggxueDnC5vJv4tmfySpVdIcN1LksGZi8W8EVZv4uKGrQc0pVf66zS7LDhFJM7Zdeow1sw1/8Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block 'dashboard' %}

<div class="container">
    <br><br><br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nome do usuário" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
      </div>
    </div>
    <br>

    <div class="container">
      <a class="btn-add-cliente" href="{% url 'adiciona_cliente' %}">ADICIONAR CLIENTE <i class="fa-solid fa-plus" style="color: #ffffff;"></i> </a><br><br><br>
    </div>
    
    <div class="container">
      <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Email</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for cliente in clientes %}
            <tr>
              <th scope="row">{{cliente.nome}}</th>
              <td>{{cliente.sobrenome}}</td>
              <td>{{cliente.email}}</td>
              <td>
                  <a href="{% url 'atualiza_cliente_cadastrado' cliente.id %}"><i class="fa-solid fa-pen-to-square" style="color: #04ff00;"></i></a>
                  <a href=""><i class="fa-solid fa-trash" style="color: #ff0000; padding-left: 20px;"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>

<script src="{% static 'clientes/js/clientes.js' %}"></script>

{% endblock %}