{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">

{% endblock %}

{% block 'dashboard' %}

<div class="container">
    <div class="row">
        <div class="col-md card-dashboard">
            <a href='{% url "clientes"%}' class="text-card">Adicionar clientes</a>
        </div>
        <div class="col-md card-dashboard">
            <a href='{% url "atualiza_cliente_id"%}' class="text-card">Atualizar clientes</a>
        </div>
    </div>

    <div id="atualizar-cliente">
        <br>
        <div id="alerta-cliente" style='display:none'></div>
        <p></p>
        <select id="cliente-select" onchange="dados_cliente()" class="form-control">
            <option value=""></option>
            {% for cliente in clientes %}
            <option value="{{cliente.id}}">{{cliente.nome}}</option>
            {%endfor%}
        </select>
        <br>
        <hr>

        <div id="form-att-cliente" style='display:none'>
                <input type="hidden" id='id'>
                <p>Nome: </p>
                <input id='nome' type="text" class="form-control"><br>
                <p>Sobrenome: </p>
                <input id='sobrenome' type="text" class="form-control"><br>
                <p>Email: </p>
                <input id='email' type="text" class="form-control"><br>
                <p>CPF: </p>
                <input id='cpf' type="text" class="form-control"><br>
                <button type="submit" class='btn btn-success' onclick='update_cliente()'>Salvar</button>
                <div id="altera-carro"></div>

        </div>
    </div>
</div>

<script src="{% static 'clientes/js/clientes.js' %}"></script>

{% endblock %}